body {
    margin:0;
    background: #41740e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #catch_screen {
      width: 100%;
      height: 402px;
    padding-top: 110px;
      background: url("https://github.com/ZeChrales/PogoAssets/blob/master/static_assets/png/Parkscene_Background.png?raw=true") center top, url("https://github.com/ZeChrales/PogoAssets/blob/master/static_assets/png/SkyDay.png?raw=true") center top / cover;
      text-align: center;
      user-select: none;
  }
  
  #pokemon, #shiny {
      user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    margin: 0 auto 5px auto;
      cursor: pointer;
  }
  
  #shiny, #sparkle { display: none; }
  
  #encounter { position:relative; }
  
  #sparkles {
    position: absolute;
    width: 256px;
    height: 256px;
    top:48px;
    left:calc(50% - 128px);
    pointer-events: none;
  }
  
  #pokemons {
    font-size: 16px;
    -webkit-appearance: none;
    padding: 10px 36px 10px 20px;
    border-radius: 20px;
    color: white;
    background: url("https://github.com/ZeChrales/PogoAssets/blob/master/static_assets/png/Arrow_rounded.png?raw=true") no-repeat center right 16px / 12px 12px, rgba(0, 0, 0, 0.6);
    border: none;
    outline: none;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  #stats, label {
    color: white;
    font-family: Sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 22px;
    margin: auto; 
    text-align: right;
  }
  
  label, input[type="checkbox"] { cursor: pointer; }
  
  #stats td:last-child { text-align: left; width: 50px; }
  #stats td[colspan="2"] { text-align: center; }
  
  #flash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    pointer-events:none;
  }